@charset "UTF-8";
:root {
  --couleur-principale: rgba(0, 74, 171, 1);
  --couleur-secondaire: rgba(255, 255, 255, 1);
  --couleur-texte: rgba(16,30,221,1);
  --couleur-fond: rgba(192, 192, 192, 1);
  --border-radius: 1.25rem;
  --font-size: 1rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: grid;
  grid-template: "header" "nav" "main" "footer";
}
body header {
  grid-area: header;
}
body nav {
  grid-area: nav;
}
body main {
  grid-area: main;
}
body footer {
  grid-area: footer;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
  font-size: var(--font-size);
  width: 100%;
}

header {
  background-color: var(--couleur-principale);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
}
header img {
  max-width: 100px;
  margin-bottom: 0.3rem;
}
header h1 {
  color: var(--couleur-secondaire);
  text-align: center;
  position: relative;
  animation: waveEffect 2s infinite;
  font-size: 1.5rem;
}
@keyframes waveEffect {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.625rem);
  }
}
header p {
  color: var(--couleur-secondaire);
}
header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header a {
  color: var(--couleur-secondaire);
  font-size: 1rem;
  text-decoration: none;
  margin-left: 0.3rem;
}
header .bienvenue {
  align-self: start;
  padding-left: 1.25rem;
  align-items: revert;
}

nav {
  background-color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: var(--couleur-secondaire);
}
nav .menu {
  list-style: none;
  display: none;
}
nav .menu.active {
  display: flex;
  flex-direction: column;
}
nav .menu li {
  margin: 20px;
}
nav .menu a {
  color: var(--couleur-secondaire);
  text-decoration: none;
}
nav .burger-menu {
  cursor: pointer;
  display: block;
  color: var(--couleur-secondaire);
}
nav .bar {
  width: 25px;
  height: 3px;
  background-color: var(--couleur-secondaire);
  margin: 6px 0;
}
nav .sous {
  display: none;
  position: absolute;
  background-color: #333;
  list-style: none;
  padding: 10px;
  z-index: 1;
}
nav .sous a {
  color: var(--couleur-secondaire);
  text-decoration: none;
}
nav .deroulant.ouvert .sous {
  display: block;
}
nav .menu li.deroulant::after {
  content: "▼";
  margin-left: 0.375rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  height: max-content;
}
main h1 {
  text-align: center;
  text-decoration: underline;
  padding: 1.25rem;
  font-size: 24px;
  margin-bottom: 20px;
}
main div {
  text-align: center;
  padding: 5px;
}
main #reservation {
  display: content;
}
main h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
main p {
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: center;
}
main img {
  max-width: 250px;
  border-radius: var(--border-radius);
  margin: 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main a {
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
main h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
main ol {
  font-size: 16px;
  margin-bottom: 30px;
}
main li {
  margin-bottom: 10px;
}
main .motorcycle {
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  max-width: 100%;
  box-sizing: border-box;
}
main .motorcycle h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #333;
}
main .motorcycle .motorcycle__info {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #555;
  text-align: center;
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .motorcycle .motorcycle__image {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
main .motorcycle .motorcycle__reservation {
  margin-top: 1rem;
}
main .motorcycle .motorcycle__reservation a {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
}
main .motorcycle .review {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem 0;
}
main .motorcycle .review p {
  font-weight: bold;
  margin: 0.5rem 0;
}
main .moto-list {
  margin: 1.5rem;
  padding: 1.5rem;
}
main .moto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  background-color: var(--couleur-secondaire);
}
main .moto-card:hover {
  transform: scale(1.05);
}
main .moto-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}
main .moto-card p {
  font-size: 18px;
  margin-bottom: 5px;
}
main .moto-card img {
  width: 10rem;
  height: 12.5rem;
}
main div.comment {
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 15px;
  margin-top: 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main div.comment p {
  margin: 5px;
}
main #carousel {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 1.25rem;
  display: flex;
  justify-content: center;
}
main #carousel img {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 10%;
}
main #carousel img:first-child {
  opacity: 1;
}
main .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
main .wrapper {
  margin: 15px auto;
  max-width: 1100px;
}
main .container-calendar {
  background: var(--couleur-secondaire);
  padding: 15px;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto;
}
main .button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: var(--couleur-principale);
  color: var(--couleur-secondaire);
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}
main .table-calendar {
  border-collapse: collapse;
  width: 100%;
}
main .table-calendar td,
main .table-calendar th {
  padding: 5px;
  border: 1px solid rgb(226, 226, 226);
  text-align: center;
  vertical-align: top;
}
main .date-picker.selected {
  font-weight: bold;
  outline: 1px dashed rgb(0, 188, 212);
}
main .date-picker.selected span {
  border-bottom: 2px solid currentColor;
}
main #monthAndYear {
  text-align: center;
  margin-top: 0;
}
main .button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}
main #previous {
  float: left;
}
main #next {
  float: right;
}
main .footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid rgb(218, 218, 218);
  padding: 10px 0;
}
main .footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: var(--couleur-secondaire);
  color: rgb(88, 88, 88);
  border: 1px solid rgb(191, 197, 197);
  border-radius: 3px;
  padding: 5px 1em;
}
main .calendar {
  width: 300px;
  margin: 0 auto;
}
main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(221, 221, 221);
  padding: 10px;
}
main .days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}
main .days-of-week span {
  text-align: center;
  font-weight: bold;
}
main .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}
main .day {
  text-align: center;
  padding: 5px;
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
}
main .selected {
  background-color: rgb(243, 156, 18);
  color: white;
}
main .today {
  background-color: rgb(39, 174, 96);
  color: white;
}
main .reserved {
  background-color: rgb(243, 156, 18);
  color: white;
  opacity: 0.5;
}
main form {
  max-width: 25rem;
  margin: 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  display: block;
}
main input[type=text],
main input[type=number],
main input[type=password],
main input[type=email],
main select,
main textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--couleur-texte);
  border-radius: var(--border-radius);
  font-size: 1rem;
  background-color: var(--couleur-secondaire);
  text-align: center;
}
main select {
  height: 40px;
}
main button[name=submit],
main button[name=connexion],
main button[name=subscribe] {
  background-color: var(--couleur-principale);
  color: var(--couleur-secondaire);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main button[name=submit]:hover {
  background-color: rgb(37, 129, 185);
}
main input[type=file] {
  margin-top: 1rem;
}
main .mes_motos {
  background-color: var(--couleur-secondaire);
  padding: 1rem;
  border: 1px solid rgb(204, 204, 204);
}
main .mes_motos a {
  color: var(--couleur-texte);
  text-decoration: none;
}
main .mes_motos a:hover {
  text-decoration: underline;
}
main .motos-list {
  list-style: none;
  padding: 0;
}
main .moto-item {
  border: 1px solid var(--couleur-fond);
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  display: inline-grid;
}
main .moto-item h2 {
  font-size: 1rem;
  margin: 0;
}
main .moto-item h2 a {
  text-decoration: none;
  color: var(--couleur-texte);
}
main .moto-item img {
  width: 6rem;
  height: 10rem;
}
main .avis {
  display: flex;
  flex-direction: column;
}
main .avis .review {
  border-radius: 1.25rem;
  background-color: white;
  margin: 1rem;
  width: 100%;
}
main .avis p {
  margin: 20px;
}
main #admin {
  background-color: rgb(244, 244, 244);
  padding: 20px;
  text-align: center;
}
main #admin h1 {
  text-align: center;
  background-color: rgb(51, 51, 51);
  color: var(--couleur-secondaire);
  padding: 15px;
  margin-bottom: 20px;
}
main #admin .section {
  background-color: var(--couleur-secondaire);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
main #admin .section h2 {
  text-align: center;
}
main #admin .user-list,
main #admin .moto-list,
main #admin .review-list {
  list-style: none;
  padding-left: 0;
}
main #admin .user-list li,
main #admin .moto-list li,
main #admin .review-list li {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  font-size: 14px;
}
main #admin .moto-list {
  place-items: self-end;
}
main #admin .moto-list .moto-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #admin .moto-list a {
  text-decoration: none;
  color: #007bff;
}
main #admin .moto-list a:hover {
  text-decoration: underline;
}
main #admin .delete-button {
  background-color: rgb(255, 99, 71);
  color: var(--couleur-secondaire);
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--couleur-fond);
  display: flex;
  justify-content: space-around;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  margin: 0;
  padding-right: 2px;
  font-size: 12px;
}
footer a {
  text-decoration: none;
  margin: 10px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  body {
    display: grid;
    grid-template: "header header" "nav nav" "main main" "footer footer";
    grid-template-columns: 1fr 4fr;
  }
  nav .burger-menu {
    display: none;
  }
  nav .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  nav .menu li {
    flex: 1;
    min-width: auto;
    position: relative;
  }
  nav .menu li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
  }
  nav .deroulant {
    position: relative;
  }
  nav .deroulant .sous {
    display: none;
    position: absolute;
    background-color: rgb(51, 51, 51);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    top: 40px;
    left: 0;
    width: 100%;
  }
  nav .deroulant:hover .sous {
    display: block;
  }
  nav .sous li {
    margin: 10px 0;
    padding: 10px;
  }
  nav .sous a {
    text-decoration: none;
    color: var(--couleur-secondaire);
    display: block;
    padding: 10px;
  }
  .menu {
    background-color: rgb(51, 51, 51);
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .menu.active {
    display: flex;
  }
  .menu li {
    padding: 10px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    min-width: 200px;
    width: 100%;
  }
  .menu li.deroulant::after {
    content: "▼";
    margin-left: 5px;
  }
  main form {
    max-width: 30rem;
    margin: auto;
  }
  main form button[name=submit] {
    order: 2;
    width: 100%;
    margin-top: 1rem;
  }
  main .motorcycle {
    text-align: center;
  }
  main .motorcycle__image {
    height: auto;
    float: right;
  }
  main .motorcycle__info {
    margin: 1rem;
    text-align: left;
    float: left;
  }
  main .motorcycle__reservation {
    clear: both;
    text-align: center;
  }
  main .moto-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin: 1.25rem;
  }
  main .avis {
    flex-direction: initial;
  }
}
@media (min-width: 1200px) {
  body {
    display: grid;
    grid-template: "header header header" "nav nav nav" "main main main" "footer footer footer";
    grid-template-columns: 15fr 70fr 15fr;
  }
  nav .burger-menu {
    display: none;
  }
  nav .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  nav .menu li {
    flex: 1;
    min-width: auto;
    position: relative;
  }
  nav .menu li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
  }
  nav .deroulant {
    position: relative;
  }
  nav .deroulant .sous {
    display: none;
    position: absolute;
    background-color: rgb(51, 51, 51);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    top: 40px;
    left: 0;
    width: 100%;
  }
  nav .deroulant:hover .sous {
    display: block;
  }
  nav .sous li {
    margin: 10px 0;
    padding: 10px;
  }
  nav .sous a {
    text-decoration: none;
    color: var(--couleur-secondaire);
    display: block;
    padding: 10px;
  }
  .menu {
    background-color: rgb(51, 51, 51);
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .menu.active {
    display: flex;
  }
  .menu li {
    padding: 10px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    min-width: 200px;
    width: 100%;
  }
  .menu li.deroulant::after {
    content: "▼";
    margin-left: 5px;
  }
  main #carousel img {
    max-width: 18.75rem;
    margin: 0.625rem;
  }
  main ol {
    columns: 2;
    column-gap: 1.25rem;
  }
  main .motorcycle {
    text-align: center;
    max-width: 100%;
  }
  main .motorcycle__image {
    max-width: 100%;
    height: auto;
    float: right;
  }
  main .motorcycle__info {
    margin: 1rem;
    text-align: left;
    float: left;
  }
  main .motorcycle__reservation {
    clear: both;
    text-align: center;
  }
  main .avis {
    flex-direction: initial;
  }
  main .moto-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    margin: 1.25rem;
  }
  main form {
    max-width: 40rem;
    margin: auto;
  }
  main button[name=submit] {
    order: 2;
    width: 100%;
    margin-top: 1rem;
  }
  main .users-motos-section {
    flex-direction: row;
  }
  main .users-section, main .motos-section {
    flex: 1;
    width: auto;
  }
  main .avis-section {
    width: 100%;
  }
  main .mes_motos {
    display: table;
    width: 100%;
  }
  main .mes_motos h2 {
    font-size: 18px;
    margin: 0;
  }
  main .mes_motos a {
    display: block;
    padding: 5px;
  }
  main #admin {
    max-width: 100rem;
    margin: auto;
  }
  main #admin .users-motos-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  main #admin .user-item,
  main #admin .moto-item {
    width: 48%;
    margin-right: 2%;
  }
  main #admin .moto-item {
    position: relative;
    display: inline-block;
    margin-right: 1.25rem;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  main #admin .moto-item:hover {
    transform: translateY(-5px);
    box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
  }
  main #admin .review-item {
    position: relative;
    display: inline-block;
    margin-right: 1.25rem;
    text-align: center;
  }
  main #admin .review-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  main #admin .delete-button {
    cursor: pointer;
  }
  main #admin .delete-button:hover {
    background-color: rgb(217, 83, 79);
  }
  footer p {
    margin: 0;
    padding-right: 2px;
    font-size: 1rem;
  }
  footer a {
    text-decoration: none;
    margin: 5px;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=css.css.map */
