@charset "UTF-8";
:root {
  --couleur-principale: #004AAD;
  --couleur-secondaire: #FFFFFF;
  --couleur-texte: #808080;
  --couleur-fond: #C0C0C0;
  --border-radius: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  display: grid;
  grid-template: "header" "nav" "main" "footer";
}
body header {
  grid-area: header;
}
body nav {
  grid-area: nav;
}
body main {
  grid-area: main;
}
body footer {
  grid-area: footer;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
}

header {
  background-color: var(--couleur-principale);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
header img {
  max-width: 100px;
  margin-bottom: 10px;
}
header h1 {
  color: var(--couleur-secondaire);
  margin: 10px;
  text-align: center;
}
header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header div a {
  color: var(--couleur-secondaire);
  font-size: 16px;
  text-decoration: none;
  margin-left: 5px;
}

nav {
  /* Styliser le menu principal */
  /* Styliser le menu déroulant */
}
nav #menu {
  background-color: #333;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav #menu li {
  padding: 10px;
  border-bottom: 1px solid #666;
  color: #fff;
  position: relative;
  width: 100%;
  text-align: center;
}
nav #menu li:last-child {
  border-bottom: none;
}
nav #menu li a {
  color: #fff;
  text-decoration: none;
}
nav .sous {
  display: none;
  list-style: none;
  padding: 0;
  background-color: #555;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
}
nav .deroulant:hover .sous {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: max-content;
  /* Style général du formulaire */
  /* Style des champs de saisie */
  /* Style des options de la liste déroulante */
  /* Style du bouton de soumission */
  /* Style pour le champ de téléchargement de fichier */
}
main h1 {
  text-align: center;
  margin: 20px;
}
main div {
  text-align: center;
}
main img {
  max-width: 100px;
}
main #carousel {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 20px;
  display: flex;
  justify-content: center;
}
main #carousel > img {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 10%;
}
main #carousel > img:first-child {
  opacity: 1;
}
main .wrapper {
  margin: 15px auto;
  max-width: 1100px;
}
main .container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto;
}
main .button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: var(--couleur-principale);
  color: var(--couleur-secondaire);
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}
main .table-calendar {
  border-collapse: collapse;
  width: 100%;
}
main .table-calendar td,
main .table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}
main .date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00BCD4;
}
main .date-picker.selected span {
  border-bottom: 2px solid currentColor;
}
main #monthAndYear {
  text-align: center;
  margin-top: 0;
}
main .button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}
main #previous {
  float: left;
}
main #next {
  float: right;
}
main .footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}
main .footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}
main .calendar {
  width: 300px;
  margin: 0 auto;
}
main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  padding: 10px;
}
main .days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}
main .days-of-week span {
  text-align: center;
  font-weight: bold;
}
main .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}
main .day {
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}
main .selected {
  background-color: #f39c12;
  color: white;
}
main .today {
  background-color: #27ae60;
  color: white;
}
main .reserved {
  background-color: #f39c12; /* Couleur de fond pour les jours réservés */
  color: white;
  opacity: 0.5;
}
main form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--couleur-principale);
}
main input[type=text],
main input[type=number],
main select,
main textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--couleur-texte);
  border-radius: var(--border-radius);
  font-size: 16px;
  color: var(--couleur-texte);
  background-color: var(--couleur-secondaire);
}
main select {
  height: 40px;
}
main button[name=submit] {
  background-color: var(--couleur-principale);
  color: var(--couleur-secondaire);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main button[name=submit]:hover {
  background-color: #2581b9; /* Une nuance plus sombre au survol */
}
main input[type=file] {
  margin-top: 10px;
}

footer p {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1200px) {
  body {
    grid-template: "header header" "nav nav" "main main" "footer footer";
    grid-template-columns: 1fr 4fr;
  }
  header {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  body {
    grid-template: "header header header" "nav nav nav" " main main main" "footer footer footer";
    grid-template-columns: 15fr 70fr 15fr;
  }
  form {
    max-width: 600px;
  }
}

/*# sourceMappingURL=css.css.map */
