// Mobile First
:root {
    --couleur-principale: rgba(0, 74, 171, 1); //bleu
    --couleur-secondaire: rgba(255, 255, 255, 1); //blanc
    --couleur-texte: rgba(16, 30, 221, 1); // bleu foncé
    --couleur-fond: rgba(192, 192, 192, 1);
    --border-radius: 1.25rem;
    --font-size: 1rem;
}
// mise à 0 
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

//mise en forme du body
body {
    display: grid;
    grid-template:
        "header"
        "nav"
        "main"
        "footer"
    ;

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
}

//BODY
body {
    font-family: 'Montserrat', sans-serif;
    ;
    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
    font-size: var(--font-size);
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    //Animation page
    #chargement {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #000; /* Couleur du spinner */
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  animation: spin 1s linear infinite; /* Animation de rotation */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Masquez initialement l'effet de chargement */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

}

//HEADER
header {
    background-color: var(--couleur-principale);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.5);

    img {
        max-width: 6.25rem;
        margin-bottom: 0.3rem;
    }

    h1 {
        color: var(--couleur-secondaire);
        text-align: center;
        position: relative;
        animation: waveEffect 2s infinite;
        font-size: 1.5rem;

    }

    //effets sur le titre
    @keyframes waveEffect {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-0.625rem);
            // Réglez cette valeur pour ajuster l'ampleur de la vague 
        }
    }

    p {
        color: var(--couleur-secondaire);
    }


    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        color: var(--couleur-secondaire);
        font-size: 1rem;
        text-decoration: none;
        margin-left: 0.3rem;
    }

    .bienvenue {
        align-self: start;
        padding-left: 1.25rem;
        align-items: revert;
    }

}



//NAV
nav {
    background-color: rgba(51, 51, 51, 1);
    display: flex;
    align-items: center;
    padding: 0.625rem 1.25rem;
    color: var(--couleur-secondaire);


    .menu {
        list-style: none;
        display: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
    }

    .menu li {
        margin: 1.25rem;

    }

    .menu a {
        color: var(--couleur-secondaire);
        text-decoration: none;
    }

    .burger-menu {
        cursor: pointer;
        display: block;
        color: var(--couleur-secondaire);
        margin: 1rem;
    }

    .bar {
        width: 1.6rem;
        height: 0.2rem;
        background-color: var(--couleur-secondaire);
        margin: 0.375rem ;
    }

    // Style du sous-menu (caché par défaut) 
    .sous {
        display: none;
        position: absolute;
        background-color: rgba(51,51,51,1);
        list-style: none;
        padding: 0.625rem;
        z-index: 1;
    }

    .sous a {
        color: var(--couleur-secondaire);
        text-decoration: none;
    }

    // Appliquer le style du sous-menu lorsque l'élément parent a la classe 'ouvert' 
    .deroulant.ouvert .sous {
        display: block;
        text-align: center;
    }

    // Indicateur visuel 
    .menu li.deroulant::after {
        content: "▼";
        // Flèche vers le bas ou autre icône 
        margin-left: 0.375rem;
    }



}

//MAIN
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    height: max-content;

    h1 {
        text-align: center;
        text-decoration: underline;
        padding: 1.25rem;
        font-size: 1.5rem;
        margin-bottom: 1.25rem;

    }


    div {
        text-align: center;
        padding: 0.3rem;
    }

    #reservation {
        display: content;
    }


    h2 {
        font-size: 1.25rem;
        margin-bottom: 0.625rem;
        text-decoration: underline;
    }

    p {
        font-size: 1rem;
        margin-bottom: 1.875rem;
        text-align: center;
    }

    img {
        max-width: 15.625rem;
        border-radius: var(--border-radius);
        margin: 1.25rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    a {
        padding: 0.625rem;
        position: relative;
        text-align: center;
        text-decoration: none;
    }

    h2 {
        font-size: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    // Styles pour la liste à puces 
    ol {
        font-size: 1rem;
        margin-bottom: 1.875rem;
    }

    li {
        margin-bottom: 0.625rem;
    }

    // Page moto
    .motorcycle {
        text-align: center;
        padding: 1rem;
        background-color: var(--couleur-secondaire);
        border-radius: 0.5rem;
        max-width: 100%;
        box-sizing: border-box;

        h1 {
            font-size: 1.5rem;
            margin-top: 0.5rem;
            color: #333;
        }

        .motorcycle__info {
            font-size: 1rem;
            margin: 0.5rem 0;
            color: #555;
            text-align: center;
            width: 25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .motorcycle__image {
            max-width: 100%;
            height: auto;
            margin: 1rem 0;
            border: 1px solid rgba(221,221,221,1);
            border-radius: 0.5rem;
        }

        .motorcycle__reservation {
            margin-top: 1rem;

            a {
                text-decoration: none;
                background-color: rgba(0,123,255,1);
                color: #fff;
                padding: 1rem 2rem;
                border-radius: 0.5rem;
                display: inline-block;
            }
        }


        .review {
            background-color: rgba(248,248,248,1);
            border: 1px solid rgba(221,221,221,1);
            padding: 1rem;
            margin: 1rem 0;

            p {
                font-weight: bold;
                margin: 0.5rem 0;
            }
        }
    }

    .moto-list {

        margin: 1.5rem;
        padding: 1.5rem;
    }

    .moto-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.625rem;
        margin: 1.5rem;
        border: 1px solid rgba(204,204,204,1);
        border-radius: 1.25rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s;
        background-color: var(--couleur-secondaire);

        &:hover {
            transform: scale(1.05);
            // Applique un effet d'agrandissement au survol 
        }


        p {
            font-size: 1.125rem;
            margin-bottom: 0.3rem;
        }

        img {
            width: 10rem;
            height: 12.5rem;
        }
    }


    // Mise en forme des avis 
    div.comment {
        background-color: rgba(255,255,255,1);
        border-radius: var(--border-radius);
        padding: 1rem;
        margin-top: 1.25rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


        p {
            margin: 0.3rem;
        }
    }

    // Carousel
    .carousel {
        position: relative;
        width: 16rem;
        height: 25rem;
        margin: 1.25rem;
        display: flex;
        justify-content: center;

        img {
            display: block;
            position: absolute;
            opacity: 0;
            transition: opacity 1s ease-in-out;
            border-radius: 10%;
        }

        img:first-child {
            opacity: 1;
        }
    }

    .container {
        max-width: 50rem;
        margin: auto;
        padding: 2rem;
    }


    //Page reservation

    .reservations {
        text-align: center;
        margin: auto;
        max-width: min-content;

        .reservation {
            background-color: var(--couleur-secondaire);
        }


        input {
            margin: 0.3rem;
        }

        button {
            margin: 1.25rem;
        }

        //calendrier


        .wrapper {
            margin: 1rem auto;
            max-width: 68.75rem;
        }

        .container-calendar {
            background: var(--couleur-secondaire);
            padding: 1rem;
            max-width: 29.7rem;
            margin: auto;
            overflow: auto;
        }

        .button-container-calendar button {
            cursor: pointer;
            display: inline-block;
            zoom: 1;
            background: var(--couleur-principale);
            color: var(--couleur-secondaire);
            border: 1px solid rgba(10,162,181,1);
            border-radius: 0.25rem;
            padding: 0.3rem 0.625rem;
        }

        .table-calendar {
            border-collapse: collapse;
            width: 100%;
        }

        .table-calendar td,
        .table-calendar th {
            padding: 0.3rem;
            border: 1px solid rgba(226, 226, 226, 1);
            text-align: center;
            vertical-align: top;
        }

        .date-picker.selected {
            font-weight: bold;
            outline: 1px dashed rgba(0, 188, 212, 1);
        }

        .date-picker.selected span {
            border-bottom: 2px solid currentColor;
        }


        #monthAndYear {
            text-align: center;
            margin-top: 0;
        }

        .button-container-calendar {
            position: relative;
            margin-bottom: 1em;
            overflow: hidden;
            clear: both;
        }

        #previous {
            float: left;
        }

        #next {
            float: right;
        }

        .footer-container-calendar {
            margin-top: 1em;
            border-top: 1px solid rgba(218, 218, 218, 1);
            padding: 0.625rem;
        }

        .footer-container-calendar select {
            cursor: pointer;
            display: inline-block;
            zoom: 1;
            background: var(--couleur-secondaire);
            color: rgba(88, 88, 88, 1);
            border: 1px solid rgba(191, 197, 197, 1);
            border-radius: 0.2rem;
            padding: 0.3rem 1em;
        }

        .calendar {
            width: 18.75rem;
            margin: auto;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(221, 221, 221, 1);
            padding: 0.625rem;
        }

        .days-of-week {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 0.3rem;
            margin-top: 0.625rem;
        }

        .days-of-week span {
            text-align: center;
            font-weight: bold;
        }

        .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 0.3rem;
            margin-top: 0.625rem;
        }

        .day {
            text-align: center;
            padding: 0.3rem;
            border: 1px solid rgba(221, 221, 221, 1);
            cursor: pointer;
        }

        .selected {
            background-color: rgba(243, 156, 18, 1);
            color: var(--couleur-secondaire);
        }

        .today {
            background-color: rgba(39, 174, 96, 1);
            color: var(--couleur-secondaire);
        }

        .reserved {
            background-color: rgba(243, 156, 18, 1);
            // Couleur de fond pour les jours réservés 
            color: var(--couleur-secondaire);
            opacity: 0.5;
        }
    }

    .affiche-resa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .affiche-moto {
            max-width: auto;
        }


    }




    // Formulaire
    form {
        max-width: 25rem;
        margin: 1rem;
        padding: 1rem;
        border: 1px solid rgba(204,204,204,1);
        border-radius: 1rem;
        display: block;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid var(--couleur-texte);
        border-radius: var(--border-radius);
        font-size: 1rem;
        background-color: var(--couleur-secondaire);
        text-align: center;
    }

    select {
        height: 40px;
    }

    button[name="submit"],
    button[name="connexion"],
    button[name="subscribe"] {
        background-color: var(--couleur-principale);
        color: var(--couleur-secondaire);
        border: none;
        border-radius: var(--border-radius);
        padding: 0.5rem 1rem;
        margin: 1rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[name="submit"]:hover {
        background-color: rgba(37, 129, 185, 1);
    }

    input[type="file"] {
        margin-top: 1rem;
    }

    .mes_motos {
        background-color: var(--couleur-secondaire);
        padding: 1rem;
        border: 1px solid rgba(204, 204, 204, 1);

        a {
            color: var(--couleur-texte);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .motos-list {
        list-style: none;
        padding: 0;
    }

    .moto-item {
        border: 1px solid var(--couleur-fond);
        margin-bottom: 0.625rem;
        padding: 0.625rem;
        text-align: center;
        display: inline-grid;


        a {
            text-decoration: none;
            color: var(--couleur-texte);
        }

        img {
            width: 6rem;
            height: 10rem;
        }
    }

    .avis {
        display: flex;
        flex-direction: column;

        .review {
            border-radius: 1.25rem;
            background-color: rgba(255,255,255,1);
            margin: 1rem;
            width: 100%;

        }

        p {
            margin: 1.25rem;
        }
    }



    //Espace admin

    #admin {
        background-color: rgba(244, 244, 244, 1);
        padding: 1.25rem;
        text-align: center;

        h1 {
            text-align: center;
            background-color: rgba(51, 51, 51, 1);
            color: var(--couleur-secondaire);
            padding: 1rem;
            margin-bottom: 1.25rem;
        }

        .section {
            background-color: var(--couleur-secondaire);
            border-radius: 0.3rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 1.25rem;
            padding: 1.25rem;
            text-align: center;
        }

        .section h2 {
            text-align: center;
        }

        .user-list,
        .moto-list,
        .review-list {
            list-style: none;
            padding-left: 0;
        }

        .user-list li,
        .moto-list li,
        .review-list li {
            margin-bottom: 0.625rem;
            padding: 0.3rem 0.625rem;
            background-color: var(--couleur-secondaire);
            border-radius: 3px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            margin-right: 0.625rem;
            font-size: 0.875rem;

        }


        .moto-list {
            place-items: self-end; // centrer les annonces 

            .moto-item {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            a {
                text-decoration: none;
                color: var(--couleur-texte);
            }

            a:hover {
                text-decoration: underline;
            }
        }


        .delete-button {
            background-color: rgba(255, 99, 71, 1);
            color: var(--couleur-secondaire);
            border: none;
            padding: 0.625rem 1rem;
            border-radius: 0.2rem;

        }




    }
}

//FOOTER
footer {
    text-align: center;
    padding: 0.625rem;
    background-color: var(--couleur-fond);
    display: flex;
    justify-content: space-around;


    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        margin: 0;
        padding-right: 0.12rem;
        font-size: 0.75rem;
    }

    a {
        text-decoration: none;
        margin: 0.625rem;

    }
}


//Tablette

@media (min-width: 768px) and (max-width: 1200px) {

    //BODY
    body {
        display: grid;
        grid-template:
            "header header"
            "nav nav"
            "main main"
            "footer footer"
        ;
        grid-template-columns: 1fr 4fr;
    }

    //HEADER


    //NAV
    nav {
        .burger-menu {
            display: none;
            // Masque le menu hamburger 
        }

        .menu {
            display: flex;
            // Affiche la liste de menu 
            flex-direction: row;
            width: 100%;
        }

        .menu li {
            flex: 1;
            min-width: auto;
            position: relative;
        }

        .menu li a {
            text-decoration: none;
            color: var(--couleur-secondaire);
            padding: 0.625rem;
            display: block;
            text-align: center;
        }

        .deroulant {
            position: relative;
        }

        .deroulant .sous {
            display: none;
            position: absolute;
            background-color: rgba(51,51,51,1);
            list-style: none;
            padding: 0.625rem;
            z-index: 1;
        }

        .deroulant:hover .sous {
            display: block;
        }

        .sous li {
            margin: 0.625rem;
            padding: 0.625rem;
            width: auto;
        }

        .sous a {
            text-decoration: none;
            color: var(--couleur-secondaire);
            display: block;
            padding: 0.625rem;
        }


    }

    .menu {
        background-color: rgba(51, 51, 51, 1);
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        padding: 0.625rem;
        color: var(--couleur-secondaire);
        position: relative;
        text-align: center;
        min-width: 12.5rem;
        width: 100%;
    }

    .menu li.deroulant::after {
        content: "▼";
        margin-left: 0.3rem;
    }



    //MAIN
    main {


        form {
            max-width: 30rem;
            margin: 1.25rem;


            button[name="submit"] {
                order: 2; // Réorganise le bouton sous les autres champs 
                margin-top: 1rem;
            }

            .reservation {
                background-color: var(--couleur-secondaire);
                text-align: end;
                margin: 0.625rem;

                input {
                    margin: 0.3rem;
                }
            }
        }


        .motorcycle {
            text-align: center;

        }

        .motorcycle__image {

            height: auto;
            float: right;
        }

        .motorcycle__info {
            margin: 1rem;
            height: 25rem;
            text-align: left;
            float: left;
        }

        .motorcycle__reservation {
            clear: both;
            text-align: center;
        }

        .moto-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.25rem;
            margin: 1.25rem;
        }

        .avis {
            flex-direction: initial;
        }

        //Page reservation

        .affiche-resa {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

    }


}



//Ecran ordinateur

@media (min-width: 1200px) {


    //BODY
    body {
        display: grid;
        grid-template:
            "header header header"
            "nav nav nav"
            "main main main"
            "footer footer footer"
        ;
        grid-template-columns: 15fr 70fr 15fr;
    }


    //HEADER
    header {}

    //NAV
    nav {
        .burger-menu {
            display: none;
        }

        .menu {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .menu li {
            flex: 1;
            // Les éléments se répartissent la largeur disponible 
            min-width: auto;
            position: relative;
        }

        .menu li a {
            text-decoration: none;
            color: var(--couleur-secondaire);
            padding: 0.625rem;
            display: block;
            text-align: center;
        }

        .deroulant {
            position: relative;
        }

        .deroulant .sous {
            display: none;
            position: absolute;
            background-color: rgba(51, 51, 51, 1);
            list-style: none;
            padding: 0;
            margin: 0;
            z-index: 1;
            top: 2.5rem;
            left: 0;
            width: 100%;
        }

        .deroulant:hover .sous {
            display: block;
        }

        .sous li {
            margin: 0.625rem;
            padding: 0.625rem;
        }

        .sous a {
            text-decoration: none;
            color: var(--couleur-secondaire);
            display: block;
            padding: 0.625rem;
        }


    }

    .menu {
        background-color: rgba(51, 51, 51, 1);
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        padding: 0.625rem;
        color: rgba(255, 255, 255, 1);
        position: relative;
        text-align: center;
        min-width: 12.5rem;
        width: 100%;
    }

    .menu li.deroulant::after {
        content: "▼";
        margin-left: 0.3rem;
    }




    //MAIN

    main {



        // Ajustement de la taille du carrousel 
        #carousel img {
            max-width: 18.75rem;
            margin: 0.625rem;
        }


        //Page acceuil
        .container {
            max-width: 75rem;
            margin: 1rem;

            li {
                margin: 2rem;
            }
        }

        // Réorganiser la liste à puces en colonnes 
        ol {
            columns: 2;
            column-gap: 1.25rem;
        }

        // page moto

        .motorcycle {
            text-align: center;
            max-width: 100%;
        }

        .motorcycle__image {
            max-width: 100%;
            height: auto;
            float: right;
        }

        .motorcycle__info {
            margin: 1rem;
            height: 25rem;
            text-align: left;
            float: left;
        }

        .motorcycle__reservation {
            clear: both;
            text-align: center;
        }

        .avis {
            flex-direction: initial;
        }


        .moto-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.25rem;
            margin: 1.25rem;
        }

        form {
            max-width: 40rem;
            margin: auto;
        }

        button[name="submit"] {
            order: 2;

            margin-top: 1rem;
        }

        .users-motos-section {
            flex-direction: row;
        }

        .users-section,
        .motos-section {
            flex: 1;
            width: auto;
        }

        .avis-section {
            width: 100%;
        }



        .mes_motos {
            display: table;
            width: 100%;


            a {
                display: block;
                padding: 5px;
            }
        }

        //Page reservation

        .reservations {
            text-align: center;
            margin: auto;
            max-width: min-content;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;

            .reservation {
                background-color: var(--couleur-secondaire);
                margin: 2rem;
            }

            input {
                margin: 0.3rem;
            }

            button {
                margin: 1.25rem;
            }
        }

        h2 {
            text-align: center;
        }

        .affiche-resa {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }



        //Espace admin

        #admin {
            max-width: 100rem;
            margin: auto;

            .users-motos-section {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;
            }


            .user-item,
            .moto-item {
                width: 48%;
                margin-right: 2%;
            }

            .moto-item {
                position: relative;
                display: inline-block;
                margin-right: 1.25rem;
                text-align: center;
                transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            }

            // Appliquer une animation de transition pour les annonces 
            .moto-item:hover {
                transform: translateY(-5px);
                box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
            }

            .review-item {
                position: relative;
                display: inline-block;
                margin-right: 1.25rem;
                text-align: center;
            }

            .review-item:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            }

            .delete-button {
                cursor: pointer;
            }

            .delete-button:hover {
                background-color: rgba(217, 83, 79, 1);
            }
        }


    }




    //FOOTER
    footer {

        p {
            margin: 0;
            padding-right: 0.125rem;
            font-size: 1rem;
        }

        a {
            text-decoration: none;
            margin: 0.3rem;
            font-size: 1rem;
        }
    }
}