$couleur-principale :rgba(0, 74, 171, 1);
$couleur-secondaire: rgba(255, 255, 255, 1);
$couleur-texte: rgba(0, 0, 0, 1);
$couleur-fond: rgba(255, 255, 255, 1);
$couleur-box: rgba(235, 235, 235, 1);
$border-radius: 1.25rem;
$font-size: 1rem;
